* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

form {
  width: 70vw;
  height: 50vh;
  margin: 2em auto;
  background-color: rgb(212, 201, 154);
  padding: 2rem;
}

label,
input {
  margin: 0.5rem 0;
}

input:active {
  border: none;
  border-bottom: 2px solid blue;
}
